
img{
    padding-top: 30px;
    height: 60px;
    width: 30%;
}

nav{

}
ul{list-style: none;
text-align: center;
    padding: 0;
    margin: -50px;
}

li{
    display: inline-block;
    text-align: center;
    padding-left: max(50px, 25px);
    padding-inline: 50px;
    padding-top: 10px;
    font-size: 14px;
    color:white;
}
