
img{
    padding-top: 30px;
    height: 60px;
    width: 30%;
    margin-left:10px ;
}

nav{ margin-top: -11px;
    position: fixed;
    z-index: 2;


}
ul{list-style: none;
text-align: center;
    padding: 0;
    margin: -36px;
    margin-left: 100px;
}

li{
    display: inline-block;
    text-align: center;
    padding-left: max(50px, 25px);
    padding-inline: 12px;
    padding-top: 10px;
    font-size: 14px;
    color:white;
}
button {
    background-color: firebrick;
    border-radius: 50px;
    float: right;
    margin-top: -40px;
    padding-top:  10px;
    margin-left: 1000px;
}

header { position: relative;
    height: 100vh;
    width: 100%;
    z-index: 1;}

body{
  position: fixed;
    margin: auto;

}












